@page "/planta/{id}"
@using CosoParaProgramacion3Movil.Models
@using CosoParaProgramacion3Movil.Services

@inject PlantaService plantaService
@inject NavigationManager navigationManager
@inject SesionService sesionService

<h3>
    @if (id == "0")
    {
        <span>Agregar Planta</span>
    }
    else
    {
        <span>Editar Planta</span>
    }
</h3>



<EditForm OnValidSubmit="@Grabar" Model="@planta">
    <div class="mt-3">
        <label>Nombre Cientifico</label>
        <InputText @bind-Value="@nombreCientificoNuevo" placeholder="@planta.Informacion.NombreCientifico" />
    </div>
    <div class="mt-3">
        <label>Nombre Vulgar</label>
        <InputText @bind-Value="@nombreVulgarNuevo" placeholder="@planta.Informacion.NombreVulgar" />
    </div>
    <div class="mt-3">
        <label>Imagen</label>
        <InputText @bind-Value="@imagenNuevo" placeholder="@planta.Imagen" />
    </div>
</EditForm>


<div class="text-center mt-3">
    <button class="btn btn-primary" @onclick="Volver">Cancelar</button>
    <button class="btn btn-success" @onclick="Grabar">Grabar</button>
</div>


@code {
    [Parameter]
    public string id { get; set; }

    public Planta planta;

    string nombreCientificoNuevo;
    string nombreVulgarNuevo;
    string imagenNuevo;

    protected override void OnParametersSet()
    {
        @if (!sesionService.EstaAutenticado)
        {
            navigationManager.NavigateTo("/login");
        }

        try
        {
            if (int.Parse(id) == 0)
            {
                planta = PlantaFactory.CrearPlantaGenerica(); //Osea, en maestro no jode porque no tiene objetos aninados, pero aca si, porque si tiene.
            }
            else
            {
                planta = plantaService.GetPlanta(int.Parse(id));
            }
        }
        catch (Exception ex)
        {

            Console.WriteLine(ex.Message);
        }
    }

    public void Volver()
    {
        // Navegar a la página de edición del producto
        navigationManager.NavigateTo($"/planta");
    }

    public async Task Grabar()
    {
        if (nombreCientificoNuevo is not null) { planta.Informacion.NombreCientifico = nombreCientificoNuevo; } else { planta.Informacion.NombreCientifico = ""; }
        if (nombreVulgarNuevo is not null) { planta.Informacion.NombreVulgar = nombreVulgarNuevo; } else { planta.Informacion.NombreVulgar = ""; }
        if (imagenNuevo is not null) { planta.Imagen = imagenNuevo; } else { planta.Imagen = "img/generico.jpg"; }

        if (int.Parse(id) == 0)
        {
            plantaService.AddPlanta(planta);
        }
        else
        {
            plantaService.UpdatePlanta(planta);
        }

        navigationManager.NavigateTo("/planta");
    }
}
